<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <!-- Información de la tienda -->
            <div class="col-md-4 text-white mb-3">
                <h5 class="text-uppercase">Ludoteca Andana</h5>
                <p class="text-white-50">¡Donde los tableros cobran vida y la diversión nunca termina!</p>
            </div>

            <!-- Contacto -->
            <div class="col-md-4 text-white mb-3">
                <h5 class="text-uppercase">Contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-geo-alt me-2"></i> Av. Vicuña Mackenna 1234, Ñuñoa, Santiago, Chile</li>
                    <li><i class="bi bi-telephone me-2"></i> +56 9 7946 1780</li>
                    <li><i class="bi bi-envelope me-2"></i> contacto@ludotecaandana.cl</li>
                    <li><i class="bi bi-whatsapp me-2"></i> <a href="https://wa.me/56979461780" target="_blank" class="text-white text-decoration-none">Chatea con nosotros</a></li>
                </ul>
            </div>

            <!-- Redes Sociales -->
            <div class="col-md-4 text-white mb-3">
                <h5 class="text-uppercase">Síguenos</h5>
                <ul class="list-inline">
                    <li class="list-inline-item me-3">
                        <a href="https://facebook.com/ludotecaandana" target="_blank" class="text-white">
                            <i class="bi bi-facebook fs-3"></i>
                        </a>
                    </li>
                    <li class="list-inline-item me-3">
                        <a href="https://instagram.com/ludotecaandana" target="_blank" class="text-white">
                            <i class="bi bi-instagram fs-3"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/ludotecaandana" target="_blank" class="text-white">
                            <i class="bi bi-x fs-3"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="row mt-4">
            <div class="col text-center text-white">
                <p class="m-0">&copy; 2025 Ludoteca Andana. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
